.header-chat,
.header-user-list {
  height: 100%;
  width: 400px;
  position: fixed;
  top: 0;
  right: -400px;
  border-radius: 0;
  z-index: 1030;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;

  .h-list-header {
    padding: 15px;
    border-bottom: 1px solid #f1f1f1;
  }

  .h-list-body {
    padding: 0;
  }

  &.open {
    box-shadow: rgba(224, 224, 224, 0.53) -8px 0px 16px 0px;
    right: 0;
  }
}
